*{
    margin:auto;
    padding:0%;
    box-sizing: border-box;
}
.container{
    display:flex;
    justify-content: center;
    align-content: center;
    position: relative;
}
.container .home{
    position: absolute;
    width: 50%;
    height:auto;
    display:flex;
    justify-content: center;
    align-content: center;
    box-shadow: 5px;
    overflow: hidden;
    background: wheat;
}